.dropdown-menu {
    display: none;
    position: absolute;
    background-color: transparent;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .main-menu-item:hover .dropdown-menu {
    display: block;
  }
  
  .arrow-down {
    margin-left: 4px;
  }