.trigger:hover {
  background-color: #25253e;
}

.base {
  color: white;
}

.value {
  color: white;
}

.base:hover {
  background-color: #25253e;
}

.wrapper {
  background-color: #25253e;
}

.wrapper:hover {
  background-color: #25253e;
}
