.container-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
}

.content-modal {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: fit-content;
    border-radius: 5px;
    background: #16182E;
    padding-block: 2rem;
    padding-inline: 3rem;
    z-index: 100000;
}

.info-icon-container {
    position: relative;
    cursor: pointer;
}

.info-tooltip {
    display: flex;
    flex-direction:column ;
    width: 200px;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
  }
  
  .info-icon-container:hover .info-tooltip {
    display: block;
  }

  input[type="checkbox"]:checked {
    background-color: #4A5056; 
  }