@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "slick-carousel/slick/slick-theme.css";
@import "slick-carousel/slick/slick.css";


:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
  background: #070817;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}


main{
  background: transparent;
}

input{
  border-radius: 5px;
  border: 1px solid #EAEBEF;
}

.container-market{
  height: 80%;
}

.bg-letter{
  background: var(--gradient2, linear-gradient(89deg, #AD92F5 -10.93%, #61BEFF 121.88%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



  @layer utilities {
    .text-gradient {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(88.64deg, #AD92F5 -10.93%, #61BEFF 121.88%);
    }
  }

.container-stats{
  box-shadow: 0px 0px 21.1px -15px #181C20;
}

.shadow-lending{
  box-shadow: 0px 0px 21.6px -1px #E1ECF9;
}

.margin-top{
  margin-top: 50px;
}

.height-market{
  height: fit-content;
}

.bg-landing{
  background: url("/bg-landing.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.bg-landing-banner-2{
  background: rgb(7,8,23);
  background: linear-gradient(22deg, rgba(7,8,23,1) 66%, rgba(122,72,181,0.22) 90%);
}

.extensions{
  border-radius: 9px;
  border: 4.373px solid rgba(255, 255, 255, 0.20);
  background: linear-gradient(226deg, rgba(107, 107, 107, 0.40) 0%, rgba(35, 35, 35, 0.40) 98.6%);
  backdrop-filter: blur(26.238304138183594px);
}


.credit{
  background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20) 83.85%), rgba(49, 48, 54, 0.30);
  stroke-width: 2px;
  stroke: rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(7px);
}

.container-explorer{
  border-radius: 20px;
  background-image: url('/bg-documentation.png');
  background-size: cover;
}

.container-total{
  background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20) 83.85%), rgba(49, 48, 54, 0.00);
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(7px);
  border-radius: 1rem;
}


.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 50%;
  background-size: 50px 50px;
  background-image:
          linear-gradient(to right, rgba(255, 255, 255, 0.10) 1px, transparent 1px),
          linear-gradient(to bottom, rgba(255, 255, 255, 0.10) 1px, transparent 1px);
}


.highlight {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.30);
  opacity: 2;
  transition: opacity 0.5s;
}

.bg-header{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(7,8,23,0) 71%, rgba(111,68,162,0.22) 100%)
}

.container-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.40);
  backdrop-filter: blur(2px);
  padding: 4rem;
  display: flex;
  justify-content: center;
  z-index: 100000;
}
.content-modal {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 5px;
  background: #19192B;
  padding-block: 2rem;
  padding-inline: 3rem;
  z-index: 1;
  color: #ffffff;
}
.custom-select {
  background-color: #17172B;
  border: 1px solid #374B6D;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.custom-option {
  background-color: #17172B;
  color: white;
  padding: 0.5rem 1rem;
  border: 1px solid #374B6D;
  border-top: none;
  border-radius: 0 0 0.25rem 0.25rem;
}

.custom-option:first-child {
  border-top: 1px solid #374B6D;
}

.button-gradient{
  border: 1px solid #0F0F0F;
  background: linear-gradient(90deg, #8700FF -8.16%, #C398FF 108.74%);
  backdrop-filter: blur(21px);
}
/*.max-h-143px{*/
/*  height: calc(100vh - 100px)*/
/*}*/
.transform-text{
  transform: rotate(-90deg);
  width: 100px;
}

