@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}


main{
  background: var(--grandient1, linear-gradient(115deg, #EEEAFF -26.21%, #FFF7FE 20.87%, #EBF8FE 94.52%));
}

input{
  border-radius: 5px;
  border: 1px solid #EAEBEF;
}

.container-market{
  margin-block: 2rem;
  width: 95%;
}