@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}


main{
  background: radial-gradient(136.07% 90.79% at 10.34% 118.9%, rgba(197, 255, 253, 0.46) 0%, rgba(246, 248, 251, 0.46) 100%), radial-gradient(90.3% 61.32% at 83.83% 95.17%, #EEE4FE 0%, #F6F8FB 100%);
}

input{
  border-radius: 5px;
  border: 1px solid #EAEBEF;
}

.container-market{
  height: 80%;
}

.bg-letter{
  background: var(--gradient2, linear-gradient(89deg, #AD92F5 -10.93%, #61BEFF 121.88%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}